<h1>Qr code Generator and Reader</h1>

<!-- <input type="text" placeholder="QR code Data" [(ngModel)]="qrData"> -->
<textarea [(ngModel)]="qrData" rows="6" cols="20"></textarea>
<br><br>

<button (click)="CretaQrCode()"> Create Barcode</button><br><br>



<div *ngIf="createdCode">
<ngx-qrcode [(value)]="createdCode" style="width: 100px;"></ngx-qrcode>

<div>
  <h5>values in qr Code:</h5>
  {{createdCode}}</div>


</div>


<button (click)="toggleScanner()">{{openScanner ? 'Close' : 'Scan'}}</button>

<zxing-scanner *ngIf="openScanner" (scanSuccess)="onCodeResult($event)"
style="width: 50%; height: 50%;"></zxing-scanner>

<section class="results" *ngIf="qrResultString">
  <div>
    <small>Result : </small>
    <strong>{{ qrResultString }}</strong>
  </div>
  <button mat-icon-button (click)="clearResult()">&times;</button>
</section>




